.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Set your desired background color */
  }
  
  .landing-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #343a40;
  }
  
  .landing-page p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #6c757d; 
  }
  
  .landing-page .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    background-color: #007bff; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .landing-page .btn:hover {
    background-color: #0056b3;
    }
  