* {
  box-sizing: border-box;
  margin: 100;
  padding: 100;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1900px;
  margin: 20px auto;
  padding: 10px 20px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header {
  margin: 0;
}

.navbar {
  display: flex;
  margin-left: auto;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: end;
  padding: 10px auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .header-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    margin-top: 20px;
    justify-content: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

.additional-content {
  margin-top: 20px;
  text-align: center;
}

.link-with-margin {
  margin-right: 10px;
}

.search-component {
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-search {
  margin-left: auto;
}

.footer-links {
  position: absolute;
  padding: 20px;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.home-container {
  text-align: center;
  padding: 40px;
}

.home-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 18px;
  line-height: 1.5;
}

.keep-in-touch {
  padding: 40px;
}

.keep-in-touch h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.keep-in-touch p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.keep-in-touch form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keep-in-touch input[type="email"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keep-in-touch button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.keep-in-touch button:hover {
  background-color: #555;
}